html {
  background-image: url("./media/bgo.jpg");
}

.App {
}

h1 {
  color: white;
}

a:link,
a:visited {
  padding: 8px;
  color: white;
  text-shadow: 1px 1px 2px #000000;
  background-color: #a00000;
  border: outset 1px #ffffff;
  border-radius: 5px;
  text-decoration-color: #a70000;
  text-decoration: none;
}

p {
  color: white;
}

.App-header {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-image: url("./media/header.jpg");
  border: ridge 2px #a70000;
  font-family: georgia;
  color: #ffffff;
  text-shadow: -1px 0px 5px #000000;
  font-size: 1.25rem;
}

.all {
  border-radius: 25px;
  max-width: 400px;
  max-height: 300px;
}
